* {
  margin: 0;
  scroll-behavior: smooth;
}
body {
  font-family: sans-serif;
}
.navbar {
  background-color: blue;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
}
.navbarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 90%;
  padding: 0 10px 0 10px;
}

.nickNameText {
  color: green;
  font-size: 28px;
}

.navbarLinks {
  display: flex;
  padding: 0;
}
.navbarLinks li {
  list-style: none;
  color: green;
  font-size: 22px;
  margin: 0px 15px 0px 0px;
}

.profileContainer {
  width: 100%;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
  margin-top: 50px;
}
.profileContainer img {
  width: 200px;
  height: 240px;
  object-fit: cover;
  margin-right: 20px;
  border-radius: 8px;
}
.profileContainer .roleName {
  margin-left: 10px;
}

.skills_title {
  font-size: 21px;
  background-color: #24263c;
  color:rose;
  width: 150px;
  text-align: center;
  border-radius: 7px;
  padding: 9px 0px;
  margin-left: 15px;
  margin: 55px 0 40px 15px;
}

.skillsImageContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: 50px;
}

.skillsImageContainer img {
  width: 350px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  margin: 10px;
}

.skillsImageMainContainer {
  width: 90%;
}
.skillsImage {
  width: 100%;
  display: flex;
  justify-content: center;
}

.education {
  width: 100%;
  display: flex;
  justify-content: center;
}
.educationContainer {
  width: 90%;
}
.education table {
  border-collapse: collapse;
  margin-left: 60px;
  border: 1px solid #24263c;
}
.education table td {
  padding: 20px;
  font-size: 18px;
}
.projects {
  width: 100%;
  display: flex;
  justify-content: center;
}
.projectsContainer {
  width: 90%;
}
.projectsItems {
  margin-left: 60px;
}
.projectsItemsContainer {
  margin-bottom: 33px;
  box-shadow: 0 0 18px 0px #cbcbcb;
  border-radius: 10px;
  padding: 20px;
}

.projectsItemsContainer p:nth-of-type(1) {
  font-size: 23px;
  font-weight: 600;
  color: #2e343c;
}
.projectsItemsContainer p:nth-of-type(2) {
  margin-left: 25px;
  margin-top: 13px;
  color: #434343;
}
.projectsItemsContainer p:nth-of-type(3) {
  font-size: 18px;
  font-weight: 600;
  margin-top: 9px;
}
.projectsItemsContainer p:nth-of-type(4) {
  margin-left: 25px;
  margin-top: 13px;
  color: #737373;
}
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #24263d;
  color: white;
  padding: 50px 0;
}
.contact .icons {
  margin-bottom: 30px;
}
.contact i {
  font-size: 24px;
  border: 1px solid #cfcfcf;
  padding: 7px;
  border-radius: 8px;
  margin: 0 6px;
}
.contact .address {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.address p {
  margin-bottom: 10px;
}
.contact .address p:nth-of-type(1) {
  background-color: white;
  color: #24263e;
  padding: 7px 8px;
  border-radius: 7px;
  margin-bottom: 20px;
}
.contact .address p:nth-of-type(2) {
  font-size: 18px;
  color: #ffffff;
  font-weight: 800;
}

.address p:nth-of-type(3),
.address p:nth-of-type(4) {
  color: #c4c4c4;
}
.mb-navbar {
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
  background-color: #545a9b;
  color: white;
  height: 70px;
  align-items: center;
  display: none;
}
.mb-navbar .fa-solid {
  font-size: 29px;
}
.mb-navbar .fa-solid:hover {
  cursor: pointer;
}
.mb-navbar p {
  font-size: 23px;
}
.navbarLinks li a {
  text-decoration: none;
  color: white;
}

/* ---------------------------------- */
/* media quries for 768px mobile view */

@media (max-width: 768px) {
  .nickNameText {
    display: none;
  }
  .mb-navbar {
    display: block;
    display: flex;
    justify-content: space-between;
  }
  .navbar {
    width: 100%;
    height: 100%;
    display: none;
  }
  .navbarContainer {
    flex-direction: column;
    height: 100%;
    padding: 20px;
  }
  .navbarLinks {
    display: flex;
    flex-direction: column;
    padding: 0;
    align-items: center;
    margin-top: 15px;
  }
  .navbarLinks li {
    margin: 10px 0;
  }

  .profileContainer {
    flex-direction: column;
    height: 100%;
  }
  .profileContainer img {
    margin-right: 0;
  }
  .profileContainer .roleName {
    margin-left: 0;
    text-align: center;
    margin-top: 15px;
  }
  .skills_title {
    margin: 50px 0 35px 0px;
  }
  .skillsImageContainer {
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 0;
  }
  .skillsImageContainer img {
    width: 300px;
    height: 180px;
  }
  .education table {
    margin-left: 0;
  }
  .education table td {
    padding: 10px;
    font-size: 17px;
  }
  .projectsItems {
    margin-left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .projectsItemsContainer {
    padding: 18px;
    width: 85%;
  }
  .projectsItemsContainer p:nth-of-type(1) {
    font-size: 20px;
  }
}
